@-webkit-keyframes expand {
    0% {
        -webkit-box-shadow: 0 0 0 0 #6812D8, 0 0 0 0 #6812D8;
                box-shadow: 0 0 0 0 #6812D8, 0 0 0 0 #6812D8;
    }
    100% {
        -webkit-box-shadow: 0 0 0 125vw #6812D8, 0 0 0 125vh #6812D8;
                box-shadow: 0 0 0 125vw #6812D8, 0 0 0 125vh #6812D8;
    }
}



@keyframes expand {
    0% {
        -webkit-box-shadow: 0 0 0 0 #6812D8, 0 0 0 0 #6812D8;
                box-shadow: 0 0 0 0 #6812D8, 0 0 0 0 #6812D8;
    }
    100% {
        -webkit-box-shadow: 0 0 0 125vw #6812D8, 0 0 0 125vh #6812D8;
                box-shadow: 0 0 0 125vw #6812D8, 0 0 0 125vh #6812D8;
    }
}



@-webkit-keyframes MenuGradient {
    0% {
        background-position:96% 0%
    }
    50% {
        background-position:5% 100%
    }
    100% {
        background-position:96% 0%
    }
}



@keyframes MenuGradient {
    0% {
        background-position:96% 0%
    }
    50% {
        background-position:5% 100%
    }
    100% {
        background-position:96% 0%
    }
}


:root {
    --main-ease: cubic-bezier(0.87, 0, 0.13, 1);
}





/* ====== Layout Secondary Nav DESKTOP ====== */
/* ====== Layout Secondary Nav DESKTOP ====== */
div.navigations-wrapper {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

div.secondary-menu-container {
    pointer-events: none;
    width: 50%;
}
div.secondary-menu-container.active {
    pointer-events: auto;
}

div.secondary-menu-container:hover ul li a {
    opacity: 0.2;
}
  
div.secondary-menu-container ul li:hover a {
    color: #fff;
    opacity: 1;
  }

div.secondary-menu-container li {
    margin: 4rem 0;
    font-size: 2.625rem;
    display: block;
    width: auto;
    font-family: 'halyard-display', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    position: relative;
}
div.secondary-menu-container a {
    color:#fff;
    text-decoration: none;
    display: inline-block;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: opacity 0.6s ease, -webkit-transform 1.4s 0.1s var(--main-ease);
    transition: opacity 0.6s ease, -webkit-transform 1.4s 0.1s var(--main-ease);
    -o-transition: transform 1.4s 0.1s var(--main-ease), opacity 0.6s ease;
    transition: transform 1.4s 0.1s var(--main-ease), opacity 0.6s ease;
    transition: transform 1.4s 0.1s var(--main-ease), opacity 0.6s ease, -webkit-transform 1.4s 0.1s var(--main-ease);
    will-change: transform;
    cursor: pointer;
}
div.secondary-menu-container a.active {
    -webkit-transform: translateY(-4%);
        -ms-transform: translateY(-4%);
            transform: translateY(-4%);
}

div.secondary-menu-container li p {
    position: absolute;
    margin: 10px 0 0 0;
    color: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

div.secondary-menu-container li p span {
    display: inline-block;
    width: 37px;
    height: 1px;
    background-color:#fff;
    vertical-align: middle;
    margin-right: 10px;
}


/* ====== Clearing base button styles ====== */
/* ====== Clearing base button styles ====== */
header button.menu-toggler {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: transparent;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    -webkit-transition: background 250ms ease-in-out, -webkit-transform 150ms ease;
    transition: background 250ms ease-in-out, -webkit-transform 150ms ease;
    -o-transition: background 250ms ease-in-out, transform 150ms ease;
    transition: background 250ms ease-in-out, transform 150ms ease;
    transition: background 250ms ease-in-out, transform 150ms ease, -webkit-transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
header button.menu-toggler:focus {
    outline: none;
    outline-offset: 0;
}





/* ====== Main styling ====== */
/* ====== Main styling ====== */

/* ====== When nav is open ====== */
.overflow-hidden {
    overflow: hidden;
}

header button.menu-toggler {
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: transparent;
    position: relative;
    padding: 0;
    z-index: 999;
    margin-left: 0.93rem;
}

span.menu-toggler-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: -o-linear-gradient(245.66deg, #76d3b6 6.18%, #acf438 94.26%);
    background: linear-gradient(204.34deg, #76d3b6 6.18%, #acf438 94.26%);
    -webkit-transition: opacity 1s 0.1s ease, -webkit-transform 0.8s ease;
    transition: opacity 1s 0.1s ease, -webkit-transform 0.8s ease;
    -o-transition: opacity 1s 0.1s ease, transform 0.8s ease;
    transition: opacity 1s 0.1s ease, transform 0.8s ease;
    transition: opacity 1s 0.1s ease, transform 0.8s ease, -webkit-transform 0.8s ease;
    opacity: 1;
}
span.menu-toggler-bg.active {
    opacity: 0;
}
button.menu-toggler:hover span.menu-toggler-bg,
button.menu-toggler:hover svg.menu-toggler-wrap  {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

span.menu-toggler-expand {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    pointer-events: none;
    opacity: 1;
    -webkit-transition: opacity 0.9s ease;
    -o-transition: opacity 0.9s ease;
    transition: opacity 0.9s ease;
}
span.menu-toggler-expand.fade {
    opacity: 0;
}



svg.menu-toggler-wrap {
    position: absolute;
    top: 0;
    left: 0;
    fill: transparent;
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 220px;
    stroke-dashoffset: 220px;
    width: 48px;
    height: 48px;
    -webkit-transition: stroke-dashoffset 1.1s var(--main-ease) 0.1s, -webkit-transform 1.1s 0.1s var(--main-ease);
    transition: stroke-dashoffset 1.1s var(--main-ease) 0.1s, -webkit-transform 1.1s 0.1s var(--main-ease);
    -o-transition: stroke-dashoffset 1.1s var(--main-ease) 0.1s, transform 1.1s 0.1s var(--main-ease);
    transition: stroke-dashoffset 1.1s var(--main-ease) 0.1s, transform 1.1s 0.1s var(--main-ease);
    transition: stroke-dashoffset 1.1s var(--main-ease) 0.1s, transform 1.1s 0.1s var(--main-ease), -webkit-transform 1.1s 0.1s var(--main-ease);
}
svg.active {
    stroke-dashoffset: 0;
}

div.burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: inherit;
    -webkit-transition: -webkit-transform 1.1s var(--main-ease) 0.1s;
    transition: -webkit-transform 1.1s var(--main-ease) 0.1s;
    -o-transition: transform 1.1s var(--main-ease) 0.1s;
    transition: transform 1.1s var(--main-ease) 0.1s;
    transition: transform 1.1s var(--main-ease) 0.1s, -webkit-transform 1.1s var(--main-ease) 0.1s;
}

div.burger.active {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

button.menu-toggler.active:hover div.burger {
    -webkit-transform: rotate(180deg) scale(0.8);
        -ms-transform: rotate(180deg) scale(0.8);
            transform: rotate(180deg) scale(0.8);
}



span.burger-slice {
    width: 20px;
    height: 2px;
    background-color: #27153E;
    display: inline-block;
    border-radius: 1px;
    margin: 2px 0;
    -webkit-transition: background-color 0.4s 0.1s ease, opacity 0.4s 0.3s var(--main-ease), width 0.4s 0.4s var(--main-ease), -webkit-transform 1.1s 0.1s var(--main-ease);
    transition: background-color 0.4s 0.1s ease, opacity 0.4s 0.3s var(--main-ease), width 0.4s 0.4s var(--main-ease), -webkit-transform 1.1s 0.1s var(--main-ease);
    -o-transition: background-color 0.4s 0.1s ease, transform 1.1s 0.1s var(--main-ease), opacity 0.4s 0.3s var(--main-ease), width 0.4s 0.4s var(--main-ease);
    transition: background-color 0.4s 0.1s ease, transform 1.1s 0.1s var(--main-ease), opacity 0.4s 0.3s var(--main-ease), width 0.4s 0.4s var(--main-ease);
    transition: background-color 0.4s 0.1s ease, transform 1.1s 0.1s var(--main-ease), opacity 0.4s 0.3s var(--main-ease), width 0.4s 0.4s var(--main-ease), -webkit-transform 1.1s 0.1s var(--main-ease);
}

span.burger-slice.active {
    background-color: #fff;
}

span.burger-slice.top.active {
    -webkit-transform: translateY(6px) rotate(-45deg);
        -ms-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
}
span.burger-slice.middle.active {
    width: 0px;
}
span.burger-slice.bottom.active {
    -webkit-transform: translateY(-6px) rotate(45deg);
        -ms-transform: translateY(-6px) rotate(45deg);
            transform: translateY(-6px) rotate(45deg);
}




/* ==== Reset Primary Menu Elements ==== */
.nav-overlay .menu-main-container {
    width: 50%;
}

.nav-overlay ul.menu li a {
    opacity: 1;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
    -webkit-transition: opacity 0.6s ease, -webkit-transform 1.4s 0.1s var(--main-ease) !important;
    transition: opacity 0.6s ease, -webkit-transform 1.4s 0.1s var(--main-ease) !important;
    -o-transition: transform 1.4s 0.1s var(--main-ease), opacity 0.6s ease !important;
    transition: transform 1.4s 0.1s var(--main-ease), opacity 0.6s ease !important;
    transition: transform 1.4s 0.1s var(--main-ease), opacity 0.6s ease, -webkit-transform 1.4s 0.1s var(--main-ease) !important;
    will-change: transform;
    margin-left: 32px;
}
.nav-overlay ul.menu li a.fade {
    opacity: 0.2;
}


div.menu-main-container:hover ul li a {
    opacity: 0.2;
}
  
.nav-overlay ul.menu li a:hover {
    color: #fff;
    opacity: 1;
  }


/* .nav-overlay ul.menu li a:before {
    content: "";
    display: inline-block;
    border-top: 1px solid #fff;
    width: 0px;
    margin: 0 1rem;
    vertical-align: middle;
    transition: width 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}
.nav-overlay ul.menu li a:hover:before {
    width: 40px;
} */

.nav-overlay ul.menu li {
    overflow: hidden;
}






/* ==== MENU OVERLAY ==== */
/* ==== MENU OVERLAY ==== */

/* ==== MENU DESKTOP ==== */
div.nav-overlay {
    -webkit-transition: all 1s 0.1s cubic-bezier(0.65, 0, 0.35, 1);
    -o-transition: all 1s 0.1s cubic-bezier(0.65, 0, 0.35, 1);
    transition: all 1s 0.1s cubic-bezier(0.65, 0, 0.35, 1);
}

div.nav-overlay.active {
    visibility: visible;
    opacity: 1;
}


#menu-item-20.selected a {
    opacity: 1 !important;
}

#menu-item-20 span {
    content: "";
    display: inline-block;
    border-top: 1px solid #fff;
    width: 0px;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transition: width 1.1s 0.1s var(--main-ease);
    -o-transition: width 1.1s 0.1s var(--main-ease);
    transition: width 1.1s 0.1s var(--main-ease);
}
#menu-item-20 span.active {
    width: 40px;
}

/* ==== MENU MOBILE ==== */
nav.page-nav.mobile div.nav-overlay.active {
    visibility: visible;
    opacity: 1;
}

div.menu-mobile-container ul.sub-menu {
    overflow: hidden;
    height: auto;
    -webkit-transition: height 0.6s 0.1s var(--main-ease);
    -o-transition: height 0.6s 0.1s var(--main-ease);
    transition: height 0.6s 0.1s var(--main-ease);
    border-left: 1px solid #fff;
}

/* div.menu-mobile-container ul.sub-menu.inactive {
    height:0;
} */

/* div.menu-mobile-container ul.sub-menu.active {
    height:100%;
} */







/* ====== Gradients ====== */
/* ====== Gradients ====== */
div.gradient {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 0;
    /* animation: MenuGradient 12s ease infinite; */
}
/* ========= PLAY ======== */
div.gradient.play {
    background: -o-linear-gradient(230deg, #ff3b57, #6812d8);
    background: linear-gradient(220deg, #ff3b57, #6812d8);
    /* background-size: 300% 300%; */
}

/* ========= EDGE ======== */
div.gradient.edge {
    background: -o-linear-gradient(241.16deg, #76D3B6 -8.94%, #6812D8 100%);
    background: linear-gradient(208.84deg, #76D3B6 -8.94%, #6812D8 100%);
    /* background-size: 300% 300%; */
}

/* ========= OPTIMISE ======== */
div.gradient.optimise {
    background: -o-linear-gradient(238.86deg, #0CDFFF 0.04%, #6812D8 100.01%);
    background: linear-gradient(211.14deg, #0CDFFF 0.04%, #6812D8 100.01%);
    /* background-size: 300% 300%; */
}

/* ========= BOOST ======== */
div.gradient.boost {
    background: -o-linear-gradient(176.86deg, #FC8006 -3.59%, #6812D8 100%);
    background: linear-gradient(273.14deg, #FC8006 -3.59%, #6812D8 100%);
    /* background-size: 300% 300%; */
}